<div class="register py-5">
  <app-header></app-header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="sign bg-white p-5">
          <h2 class="h4 text-center mb-4">{{"register" | translate}}</h2>
          <p class="text-black-50 text-center mb-4">{{"welcome" | translate}}</p>
          <form class="form-group">
            <label class="text-black-50 mb-2" for="name">{{"name" | translate}} <span class = "text-danger">*</span></label>
            <input type="name" id="name" placeholder='{{"holderName" | translate}}' class="form-control mb-4" />
            <label class="text-black-50 mb-2" for="email">{{"email" | translate}} <span class = "text-danger">*</span></label>
            <input type="email" id="email" placeholder='{{"holderMail" | translate}}' class="form-control mb-4" />
            <label class="text-black-50 mb-2" for="password">{{"password" | translate}} <span class = "text-danger">*</span></label>
            <div class="custom-input mb-4">
              <img (click)="togglePass()" id="eye" src="../../../assets/icons/Icon ionic-ios-eye.svg" alt="eye">
              <input id="password" type="password" placeholder='{{"holderPass" | translate}}' class="form-control" />
            </div>
            <label class="text-black-50 mb-2" for="confirm-password">{{"confirmPassword" | translate}} <span class = "text-danger">*</span></label>
            <div class="custom-input confirm-pass mb-4">
              <img (click)="toggleConfirmPass()" id="eye" src="../../../assets/icons/Icon ionic-ios-eye.svg" alt="eye">
              <input id="confirm-password" type="password" placeholder='{{"holderPass" | translate}}' class="form-control" />
            </div>
            <label class="text-black-50 mb-2" for="phone">{{"phone" | translate}} <span class = "text-danger">*</span></label>
            <input type="number" id="phone" placeholder='{{"holderPhone" | translate}}' class="form-control mb-4" />
            <button class="btn  mt-4 mb-4 w-100">{{"register" | translate}}</button>
            <div class="have-account">
              <span class="text-black-50">{{"haveAccount" | translate}}</span>
              <a routerLink="/login">{{"login" | translate}}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
