<footer class="footer py-5">
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-md-2">
        <img src="../../../assets/icons/send.svg" alt="send">
      </div>
      <div class="col-md-4">
        <ul class="items">
          <div class="item">
            <div class="icon">
            <span class="fa-solid fa-location-dot"></span>
            </div>
            <div class="text">{{"location" | translate}}</div>
          </div>
          <div class="item ">
            <div class="icon">
              <span class="fa-solid fa-phone"></span>
            </div>
            <div class="text">0593366465</div>
          </div>
          <div class="item">
            <div class="icon">
              <span class="fa-regular fa-envelope"></span>
            </div>
            <div class="text">mailto:Hessahfalhussain@gmail.com</div>
          </div>
        </ul>
      </div>
    </div>
    <div class="social">
      <div class="image">
        <img class="w-100" src="../../../assets/logo/logo.svg" alt="logo">
      </div>
      <div class="items-social">
        <a href="https://www.instgram.com/" target="_blank"><span class="fa-brands fa-instagram"></span></a>
        <a href="https://www.twitter.com/" target="_blank"><span class="fa-brands fa-twitter"></span></a>
        <a href="https://www.facebook.com/" target="_blank"><span class="fa-brands fa-facebook-f"></span></a>
        <a href="https://www.youtube.com/" target="_blank"><span class="fa-brands fa-youtube"></span></a>
      </div>
    </div>
    <div class="copy-right">
      .2022 RealEstatey. All Rights Reserved ©
    </div>
  </div>
</footer>
