@import "../../../styles" ;
@import "../../../forms" ;

.forget{
  @extend %sign ;
  .sign{
    .form-group{
      .buttons{
        .btn{
          font-size: 12pt;
        }
        .cancel{
          color: $btn-color;
        }
        display: flex ;
        justify-content: space-between ;
      }
    }
  }
}
