<div class="forget py-5">
  <app-header></app-header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="sign bg-white p-5">
          <h2 class="h4 text-center mb-4">{{"login" | translate}}</h2>
          <p class="text-black-50 text-center mb-5">{{"welcome" | translate}}</p>
          <form class="form-group">
            <input type="email" id="email" placeholder='{{"holderMail" | translate}}' class="form-control mb-5"/>
            <div class = "buttons">
                <button class="btn">{{"send" | translate}}</button>
                <a routerLink = "/login" class="cancel">{{"cancel" | translate}}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

